:root {
  --color-primary: #08A6E4;
  --color-primary-shadow: rgba(7, 172, 230, .16);
  --color-redish: #FB3B64;
  --color-green: #55DFB4;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-grey: #A5A5A5;
  --color-light-grey: #F7F7F7;
  --button-radius: 35px;
  --font-raleway: "Raleway", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-open-sans);
}

a {
  text-decoration: none;
}

h2 {
  font-family: var(--font-raleway);
  font-size: 2.25rem;
}

/**
 * Helpers
 */
.container {
  width: 1352px;
  margin: 0 auto;
}


.btn {
  color: white;
  font-weight: bold;
  display: inline-block;
  padding: 16px 65px;
  border-radius: var(--button-radius);
  border: none;
}

.btn--primary {
  background-color: var(--color-primary);
  border-radius: var(--button-radius);
  box-shadow: 3px 10px 14px var(--color-primary-shadow);
}

.btn--redish {
  background-color: var(--color-redish);
}

.btn--green {
  background-color: var(--color-green);
}

.btn--large {
  padding: 22px 155px;
}

.logo {
  font-family: var(--font-raleway);
  font-size: 2rem;
  font-weight: 300;
  color: var(--color-primary);
}


/**
 * Header
 */
.header {
  height: 70px;
  box-shadow: 0 3px 6px rgba(0,0,0,.16);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header__nav {
  display: flex;
}

.nav__element {
  padding: 0 26px;
}

.nav__element:last-child {
  padding-right: 0;
}

.nav__link {
  color: var(--color-grey);
  font-weight: 700;
  font-size: 0.6875rem;
  text-transform: uppercase;
  padding: 28px 18px 22px;
  border-bottom: 4px solid transparent;
  letter-spacing: 0.1875rem;
}

.nav__link:hover {
  color: var(--color-black);
  border-color: var(--color-primary);
}

/**
 * Opening section
 */
.opening {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.opening__content {
  margin-top: 130px;
  text-align: center;
}

.opening__header {
  font-family: var(--font-raleway);
  font-size: 3.0625rem;
}

.opening__heading {
  margin-top: 20px;
  margin-bottom: 38px;
}

.opening__image {
  width: 100%;
  height: auto;
}


/**
 * Statistics
 */
.statistics {
  margin-top: 100px;
}

.statistics__title {
  text-align: center;
}

.statistics__container {
  max-width: 800px;
  margin: 100px auto 120px;
  display: flex;
  justify-content: space-between;
}

.statistics__single {
  max-width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  font-family: var(--font-raleway);
}

.statistics__circle {
  border-radius: 50%;
  width: 63px;
  height: 63px;
  position: relative;
}

.statistics__img {
  position: absolute;
}

.statistics__single:nth-child(1) .statistics__circle {
  background-color: var(--color-redish);
}

.statistics__single:nth-child(1) .statistics__img {
  top: 0;
  left: 45%;
}

.statistics__single:nth-child(2) .statistics__circle {
  background-color: var(--color-primary);
}

.statistics__single:nth-child(2) .statistics__img {
  top: 14px;
  left: 47%;
}

.statistics__single:nth-child(3) .statistics__circle {
  background-color: var(--color-green);
}

.statistics__single:nth-child(3) .statistics__img {
  top: 6px;
  left: 50%;
}

.statistics__number {
  font-size: 1.25rem;
  font-weight: 800;
  letter-spacing: 0.1875rem;
  margin-top: 13px;
}

.statistics__description {
  color: var(--color-grey);
  margin-top: 19px;
}


/**
 * Benefits Section
 */
.benefits {
  padding: 100px 0;
  background-color: var(--color-light-grey);
}

.benefits__container {
  padding: 0 100px;
}

.benefits__single {
  background-color: var(--color-white);
  border: 1px solid #E8E9ED;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 37px;
  border-radius: 5px;
}

.benefits__text {
  box-sizing: content-box;
  max-width: 415px;
  margin: 90px 36px;
}

.benefits__text::after {
  content: "";
  width: 332px;
  height: 4px;
  background-color: var(--accent-color);
  display: block;
  margin-top: 50px;
}

.benefits__description {
  margin-top: 30px;
  line-height: 1.375rem;
}

.benefits__image {
  position: relative;
}

.benefits__image img {
  position: relative;
  z-index: 2;
}

.benefits__single--notebook {
  --accent-color: var(--color-redish);
}

.benefits__single--notebook .benefits__image {
  margin-right: 117px;
  margin-bottom: 38px;
}

.benefits__single--notebook .benefits__image::before {
  content: "";
  width: 180px;
  height: 180px;
  background-color: var(--accent-color);
  display: block;
  border-radius: 40px;
  position: absolute;
  right: 0;
  top: -40px;
  transform: rotate(45deg);
}

.benefits__single--notebook .benefits__image img {
  width: 386px;
  height: auto;
  position: relative;
  z-index: 2;
}


.benefits__single--phone {
  --accent-color: var(--color-primary);
  flex-direction: row-reverse;
  padding: 0 20px 0 70px;
}

.benefits__single--phone .benefits__image::before {
  content: "";
  width: 320px;
  height: 320px;
  background-color: var(--accent-color);
  display: block;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: -20px;
}

.benefits__single--phone .benefits__image img {
  width: 426px;
  height: auto;
}

.benefits__single--phone .benefits__text {
  margin: 70px 0;
}

.benefits__double {
  --accent-color: var(--color-green);
  display: flex;
}

.benefits__double > div {
  margin-bottom: 0;
}

.benefits__single--solo {
  max-width: 620px;
}

.benefits__single--solo .benefits__text {
  max-width: none;
  margin: 70px 35px;
}

.benefits__single--image {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color);
  border: none;
  margin-left: 60px;
}

.benefits__single--image img {
  width: 295px;
  height: auto;
  margin-top: 55px;
}


/**
 * Pricing
 */

.pricing {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pricing__boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.pricing__box {
  width: 370px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--accent-color);
}

.pricing__details {
  margin-top: 34px;
  margin-bottom: 60px;
  text-align: center;
}

.pricing__type {
  font-size: 1.25rem;
  font-family: var(--font-raleway);
  font-weight: 700;
}

.pricing__price {
  font-size: 2.875rem;
  font-family: var(--font-open-sans);
  font-weight: 300;
  margin-top: 25px;
  color: var(--accent-color);
}

.pricing__limited {
  text-align: center;
  margin-top: 15px;
  font-size: 0.75rem;
  font-family: var(--font-raleway);
  font-weight: 700;
}

.pricing__items {
  text-align: center;
}

.pricing__item {
  font-size: 14px;
  margin-bottom: 20px;
}

.pricing__item::before {
  content: "";
  width: 11px;
  height: 11px;
  display: inline-block;
  margin-right: 10px;
  background-image: url("../assets/Checkmark-1.svg");
}

.pricing__item--not::before {
  background-image: url("../assets/Close.svg");
}

.pricing__box .btn {
  position: relative;
  bottom: -25px;
  font-size: 0.8125rem;
  background-color: var(--accent-color);
}

/*** Basic Box ***/
.pricing__box--basic {
 --accent-color: var(--color-redish);
}

.pricing__box--basic .pricing__price {
  margin-bottom: 30px;
}


/*** Professional Box **/
.pricing__box--professional {
  --accent-color: var(--color-primary);
  width: 400px;
  margin: 0 40px;
  box-shadow: 5px 1px 27px var(--color-primary-shadow);
}

.pricing__box--professional .pricing__type {
  font-size: 1.3125rem;
}

.pricing__box--professional .pricing__item {
  margin-bottom: 25px;
}

/*** Premium Box ***/
.pricing__box--premium {
  --accent-color: var(--color-green);
}

/**
 * Contact
 */

.contact {
  padding: 80px 100px 100px;
  display: flex;
  justify-content: center;
}

.contact__column {
  width: 50%;
}

.contact__title {
  font-size: 3.0625rem;
  line-height: 3.6875rem;
}

.contact__instruction {
  margin: 22px 0 42px;
  font-size: 1rem;
  line-height: 1.375rem;
}

.contact__details {
  display: flex;
  justify-content: flex-start;
  color: var(--color-grey);
  align-items: center;
}

.details__item {
  color: var(--color-grey);
  font-weight: 500;
  text-decoration: none;
}

.details__item:first-of-type {
  margin-right: 20px;
}

.details__item img {
  margin-right: 10px;
}

/**
 * Form
 */
.form {
  display: flex;
  flex-direction: column;
}

.form__field {
  display: flex;
  flex-direction: column;
}

.form__field:first-of-type {
  margin-bottom: 42px;
}

.form__label {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-primary);
  line-height: 0.9rem;
  letter-spacing: 3px;
  font-size: 0.6875rem;
}

.form__input {
  border: none;
  border-bottom: 1px solid var(--color-grey);
  background-color: transparent;
  line-height: 2.625rem;
}

.form__consent {
  margin-top: 30px;
}

.form__checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1.375rem;
}

.form__checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.form__checkbox .checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: var(--color-white);
  border: 1px solid var(--color-grey);
  border-radius: 4px;
}

.form__checkbox input:checked ~ .checkbox {
  background-image: url(../assets/Checkmark.svg);
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
}

.form__checkbox .consent__text {
  margin: 0 10px;
  font-size: 0.75rem;
  color: var(--color-grey);
  line-height: 17px;
}

.form .btn {
  font-size: 0.8125rem;
  padding: 20px 97px;
  align-self: flex-end;
  margin-top: 20px;
}


/**
 * Footer
 */

.footer {
  box-shadow: 0 -5px 40px #00000029;
  padding: 20px 0;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer__copy {
  font-size: 0.6875rem;
  line-height: 1.5rem;
  color: var(--color-grey);
  margin-top: 6px;
}

.footer__icons a:first-of-type {
  margin-right: 25px;
}
